{% extends "layout.html" %}
{% block content %}
    
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}

        {% for message in form.name.errors %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {{ form.name.label }}
        {{ form.name }}

        {% for message in form.password.errors %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {{ form.password.label }}
        {{ form.password }}
    </form>

{% endblock %}