<!doctype html>
<html>
    <head>
        <title>L.I.V.E. : Login</title>
        <meta charset="utf-8" />
        <meta content="no-cache" http-equiv="Pragma"></meta>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Adding Weebbly CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-images-blog_moderation-css-buildTime-1438245236.css')}}" />
                    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-images-main_style2.css-buildTime-1438245236.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-images-slideshow-slideshow.css-buildTime-1438245236.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-mages-weebly_lightbox.css-buildTime-1438245236.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editor-1.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editor-2.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.googleapis.com-css-family-Open-Sans-400italic-700italic-300-400-700.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='googleapiOxygen-css.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='googleapisLustria-css.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaelementplayer.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile-sites.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sites.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ui.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='weebly_dialog.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='5rules.css')}}" />
        <!-- Weebly CSS added -->

    
        <!-- Weebly CSS -->
        <style type="text/css">#footerInspiration { display: none; }</style>
    
        <style id="designOptionsStyle" type="text/css">
            .wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .weebly-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #secondlist div.paragraph, #secondlist p, #secondlist .product-block .product-title, #secondlist .product-description, #secondlist .weebly-form-field label, #secondlist .wsite-form-field label {}
#secondlist div.paragraph, #secondlist p, #secondlist .product-block .product-title, #secondlist .product-description, #secondlist .weebly-form-field label, #secondlist .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .weebly-form-field label, .wsite-elements.wsite-footer .wsite-form-field label {}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #secondlist h2, #secondlist .product-long .product-title, #secondlist .product-large .product-title, #secondlist .product-small .product-title {}
#secondlist h2, #secondlist .product-long .product-title, #secondlist .product-large .product-title, #secondlist .product-small .product-title {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title {}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#secondlist h2.wsite-product-title {}
.wsite-product .wsite-product-price a {} 
            </style>
    
    <style type="text/css" id="storeOptionsStyle">
        .entity-list-image-container .wsite-imageaspectratio-image-height, .product-images-view .wsite-imageaspectratio-image-height, .wsite-com-category-product-image-height.wsite-imageaspectratio-image-height, .wsite-com-category-product-featured-image-height.wsite-imageaspectratio-image-height { margin-bottom: 100% !important } .category_image .wsite-imageaspectratio-image-height { margin-bottom: 100% !important } .wsite-com-category-subcategory-image-height.wsite-imageaspectratio-image-height { margin-bottom: 100% !important } .wsite-com-category-product-group .wsite-com-column { width: 33.33% !important } .wsite-com-category-product-featured-group .wsite-com-column { width: 25.00% !important } .wsite-com-category-subcategory-group .wsite-com-column { width: 33.33% !important } 
    </style>
        <!-- End Weebly CSS -->



    </head>

    <body>
       <div>
            <div id="scroll_container">
                <div id="icontent_container" class="wsite-theme-365164435420771451" >
                    <div class="wsite-page-index short-header-page  wsite-theme-light" id="icontent">
                        <div id="head">
                            <div id="header-wrap">
                    <!---FROM WEEBLY.COM -->
                <table id="header">
                    <tbody><tr>
                        <td id="logo"><span style="display: inline-block;" id="weebly-area-1" class="weebly-area weebly-logo-area"><span class="wsite-logo">

        <a><span id="wsite-title">

                L.I.V.E.

        </span></a>

    </span></span></td>
                        <td class="nav"><ul class="wsite-menu-default">

    <span id="pg449845046999345006" class="wsite-nav-handle"><li style="position: relative;" class="wsite-menu-item-wrap w-menu-item   wsite-nav-1">
        <a style="position: relative;" href="#" class="wsite-menu-item">
            Home
        </a>
    </li></span>

    <span id="pg442288912794778523" class="wsite-nav-handle"><li style="position: relative;" class="wsite-menu-item-wrap w-menu-item   wsite-nav-2">
        <a style="position: relative;" href="#" class="wsite-menu-item">
            About
        </a>
    </li></span>

    <span id="pg284129743820819303" class="wsite-nav-handle"><li style="position: relative;" class="wsite-menu-item-wrap w-menu-item   wsite-nav-3">
        <a style="position: relative;" href="#" class="wsite-menu-item">
            Contact
        </a>
    </li></span>
    </ul></td>
                        <td class="search"><span style="display: none;" id="weebly-area-2" class="weebly-area wsite-search"><input class="wsite-search-input" autocomplete="off" placeholder="Search" type="text"><span class="wsite-search-button"><span class="wsite-search-button-inner"></span></span></span></td>
                    </tr>
                </tbody></table>

                    <!-- Weebly content end Navigation-->    
                </div>
                        </div>
                    </div>
                </div>
                <div id="tks-login-screen" >
            <div style="position: relative;" class="element weebly-spotlighted" id="798045739504613658">

<weebly dont_include="">
<div id="798045739504613658-form-parent" class="wsite-form-container" style="margin-top:10px;">
  <ul class="formlist" id="798045739504613658-form-list">
    <li class="inside" id="inside_363694989929986052">

	<div class="w-element-controls">
	<div class="w-move-outer">
		<div class="w-move"></div>
	</div>
	<div class="w-handle-outer">
		<div class="w-handle"></div>
	</div>
	<div class="w-delete-outer">
		<div class="w-delete" title="Delete"></div>
	</div>
</div>
	<div class="element-box element-box-login">
		<div class="element-box-contents">
			<h2 class="element wsite-content-title" id="209732683625822242" style="text-align:left;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LOGIN</h2>
		</div>
	</div>
</li><li class="inside wsite-multicol-li" id="inside_596956896629246753">
	<form name="id_596956896629246753" data-platform-element-id="" data-platform-element-version="" style="display:none" autocomplete="off">
		<input name="idfield" value="{id:'596956896629246753',eid:'51424376'}" type="hidden">
	</form>
	<div class="w-element-controls">
	<div class="w-move-outer">
		<div class="w-move"></div>
	</div>
	<div class="w-handle-outer">
		<div class="w-handle"></div>
	</div>
	<div class="w-delete-outer">
		<div class="w-delete" title="Delete"></div>
	</div>
</div>
	<div class="element-box">
		<div class="element-box-contents">
			<div class="element" id="506601390855431781"><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			          <!--PADDING ADDING ELEMENT TO PUSH RIGHT-->
            <tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" id="506601390855431781-col0" style="width:33.33333333333333%; padding:0 15px;">

</td>
                
      
                <td class="wsite-multicol-col" id="506601390855431781-col1" style="width:33.33333333333333%; padding:0 15px;">
	<ul class="columnlist" id="506601390855431781-col1-ul">
		<li class="inside" id="inside_199994674751205632">

	<div class="element-box">
		<div class="element-box-contents">
			<div class="element" id="840139285605833295"><div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-840139285605833295">Email <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<input id="input-840139285605833295" class="wsite-form-input wsite-input wsite-input-width-370px" name="_u840139285605833295" type="text">
				</div>
				<div id="instructions-840139285605833295" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>
		</div>
	</div>
</li>
	</ul>
</td><td class="wsite-multicol-col" id="506601390855431781-col2" style="width:33.33333333333333%; padding:0 15px;">
	<ul class="columnlist" id="506601390855431781-col2-ul">
		<li class="inside wsite-spacer-li" id="inside_644991728150306459">
	<form name="id_644991728150306459" data-platform-element-id="" data-platform-element-version="" style="display:none" autocomplete="off">
		<input name="idfield" value="{id:'644991728150306459',eid:'27280689'}" type="hidden">
	</form>	
</li>
	</ul>
</td>			</tr>
		</tbody>
	</table>
</div><div style="left: 315px;" class="wsite-multicol-divider"></div><div style="left: 645px;" class="wsite-multicol-divider"></div></div></div>
		</div>
	</div>
</li><li class="inside wsite-multicol-li" id="inside_652761773495017229">

	<div class="element-box">
		<div class="element-box-contents">
			<div class="element" id="401921866100965723"><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" id="401921866100965723-col0" style="width:33.33333333333333%; padding:0 15px;">
	

</td><td class="wsite-multicol-col" id="401921866100965723-col1" style="width:33.33333333333333%; padding:0 15px;">
	<ul class="columnlist" id="401921866100965723-col1-ul">
		<li class="inside" id="inside_897536816956144722">


	<div class="element-box">
		<div class="element-box-contents">
			<div class="element" id="879903820738937466"><div class="wsite-form-field" style="margin:5px 0px 15px 0px;">
				<label class="wsite-form-label" for="input-879903820738937466">Password <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<input id="input-879903820738937466" class="wsite-form-input wsite-input wsite-input-width-370px" name="_u879903820738937466" type="text">
				</div>
				<div id="instructions-879903820738937466" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>
		</div>
	</div>
</li>
	</ul>
</td><td class="wsite-multicol-col" id="401921866100965723-col2" style="width:33.33333333333333%; padding:0 15px;">
	<ul class="columnlist" id="401921866100965723-col2-ul">
	</ul>
</td>			</tr>
		</tbody>
	</table>
</div></div></div>
		</div>
	</div>
</li>
  </ul>
</div>
<div style="text-align:center; margin-top:10px; margin-bottom:15px;">
  <input name="ucfid" value="798045739504613658" type="hidden">
  <a title="Links active once published" class="wsite-button"><span class="wsite-button-inner" id="button-case"><button id="loginbutton">Submit</button></span></a>
</div>
</weebly></div>
        </div>
            </div>
        </div>
  </body>
      
    
</html>