<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> L.I.V.E. : POI Profile </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='poi_profile.css')}}" />
  </head>
  <body>
    <div id="profile">
        <div id="content">
            <div id="profile_pic">
                <img class="pic"  src="{{ url_for('static', filename='img/maxresdefault.jpg') }}">
            </div>
            <div id="profile_info">
            </div>
        </div>
    </div>
    
  
</body>
</html>