{% extends "layout.html" %}
{% block content %}
	<h2>Profile Form</h2>
	
	
	<form action="{{ url_for('profileedit') }}" method=post>
    	{{ form.hidden_tag() }}

	    {{ form.picture.label }}
	    {{ form.picture }}

	    {{ form.gender.label }}
	    {{ form.gender }}

	    {{ form.first_name.label }}
	    {{ form.first_name }}

	    {{ form.middle_name.label }}
	    {{ form.middle_name }}

	    {{ form.last_name.label }}
	    {{ form.last_name }}

	    {{ form.weapon_of_choice.label }}
	    {{ form.weapon_of_choice }}

	    {{ form.height.label }}
	    {{ form.height }}

	    {{ form.weight.label }}
	    {{ form.weight }}

	    {{ form.build.label }}
	    {{ form.build }}

	    {{ form.complexion.label }}
	    {{ form.complexion }}

	    {{ form.hair_colour.label }}
	    {{ form.hair_colour }}

	    {{ form.eye_colour.label }}
	    {{ form.eye_colour }}

	    {{ form.ethnicity.label }}
	    {{ form.ethnicity }}

	    {{ form.scars.label }}
	    {{ form.scars }}

	    {{ form.work_address.label }}
	    {{ form.work_address }}

	    {{ form.work_contact_no.label }}
	    {{ form.work_contact_no }}

	    {{ form.job_title.label }}
	    {{ form.job_title }}

	    {{ form.mother_first_name.label }}
	    {{ form.mother_first_name }}

	    {{ form.mother_maiden_name.label }}
	    {{ form.mother_maiden_name }}

	    {{ form.mother_surname.label }}
	    {{ form.mother_surname }}

	    {{ form.mother_address.label }}
	    {{ form.mother_address }}

	    {{ form.mother_nationality.label }}
	    {{ form.mother_nationality }}

	    {{ form.father_first_name.label }}
	    {{ form.father_first_name }}

	    {{ form.father_surname.label }}
	    {{ form.father_surname }}

	    {{ form.father_address.label }}
	    {{ form.father_address }}

	    {{ form.father_nationality.label }}
	    {{ form.father_nationality }}
	 
	    {{ form.submit }}
	    
  	</form>
 

{% endblock %}