{% extends "layout.html" %}
{% block content %}
	<h2>Report Form</h2>
	
	
	<form action="{{ url_for('reportedit') }}" method=post>
    	{{ form.hidden_tag() }}

	    {{ form.status.label }}
	    {{ form.status }}
	    
	    {{ form.diary_entry_number.label }}
	    {{ form.diary_entry_number }}

	    {{ form.location_of_offence.label }}
	    {{ form.location_of_offence }}

	    {{ form.significant_landmark_nearby.label }}
	    {{ form.significant_landmark_nearby }}

	    {{ form.offence.label }}
	    {{ form.offence }}

	    {{ form.offence_code.label }}
	    {{ form.offence_code }}

	    {{ form.reported_date_and_time.label }}
	    {{ form.reported_date_and_time }}

	    {{ form.name_of_victim.label }}
	    {{ form.name_of_victim }}

	    {{ form.address_of_victim.label }}
	    {{ form.address_of_victim }}

	    {{ form.age_of_victim.label }}
	    {{ form.age_of_victim }}

	    {{ form.height_of_victim.label }}
	    {{ form.height_of_victim }}

	    {{ form.ethnicity_of_victim.label }}
	    {{ form.ethnicity_of_victim }}

	    {{ form.weapon_used.label }}
	    {{ form.weapon_used }}

	 
	    {{ form.submit }}
	    
  	</form>
 

{% endblock %}