<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> L.I.V.E. : Profile </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css')}}" /><meta content="no-cache" http-equiv="Pragma"></meta>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Adding Weebbly CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-images-blog_moderation-css-buildTime-1438245236.css')}}" />
                    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-images-main_style2.css-buildTime-1438245236.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-images-slideshow-slideshow.css-buildTime-1438245236.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cdn1.editmysite.com-weebly-mages-weebly_lightbox.css-buildTime-1438245236.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editor-1.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editor-22.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.googleapis.com-css-family-Open-Sans-400italic-700italic-300-400-700.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='googleapiOxygen-css.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='googleapisLustria-css.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaelementplayer.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile-sites.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sites.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ui.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='weebly_dialog.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='5rules.css')}}" />
        <!-- Weebly CSS added -->

    
        <!-- Weebly CSS -->
        <style type="text/css">#footerInspiration { display: none; }</style>
    
        <style id="designOptionsStyle" type="text/css">
            .wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .weebly-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #secondlist div.paragraph, #secondlist p, #secondlist .product-block .product-title, #secondlist .product-description, #secondlist .weebly-form-field label, #secondlist .wsite-form-field label {}
#secondlist div.paragraph, #secondlist p, #secondlist .product-block .product-title, #secondlist .product-description, #secondlist .weebly-form-field label, #secondlist .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .weebly-form-field label, .wsite-elements.wsite-footer .wsite-form-field label {}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #secondlist h2, #secondlist .product-long .product-title, #secondlist .product-large .product-title, #secondlist .product-small .product-title {}
#secondlist h2, #secondlist .product-long .product-title, #secondlist .product-large .product-title, #secondlist .product-small .product-title {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title {}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#secondlist h2.wsite-product-title {}
.wsite-product .wsite-product-price a {} 
            </style>
    
    <style type="text/css" id="storeOptionsStyle">
        .entity-list-image-container .wsite-imageaspectratio-image-height, .product-images-view .wsite-imageaspectratio-image-height, .wsite-com-category-product-image-height.wsite-imageaspectratio-image-height, .wsite-com-category-product-featured-image-height.wsite-imageaspectratio-image-height { margin-bottom: 100% !important } .category_image .wsite-imageaspectratio-image-height { margin-bottom: 100% !important } .wsite-com-category-subcategory-image-height.wsite-imageaspectratio-image-height { margin-bottom: 100% !important } .wsite-com-category-product-group .wsite-com-column { width: 33.33% !important } .wsite-com-category-product-featured-group .wsite-com-column { width: 25.00% !important } .wsite-com-category-subcategory-group .wsite-com-column { width: 33.33% !important } 
    </style>
        <!-- End Weebly CSS -->

  </head>
  <body>
    <div id="profile">
        <div id="content">
            <div >
            <div id="scroll-tks_container">
                <div id="icontent_container" class="wsite-theme-365164435420771451" >
                    <div class="wsite-page-index short-header-page  wsite-theme-light" id="icontent">
                        <div id="head">
                            <div id="header-wrap">
                    <!---FROM WEEBLY.COM -->
                <table id="header">
                    <tbody><tr>
                        <td id="logo"><span style="display: inline-block;" id="weebly-area-1" class="weebly-area weebly-logo-area"><span class="wsite-logo">

        <a><span id="wsite-title" class="editable-text">

                L.I.V.E.

        </span></a>

    </span></span></td>
                        <td class="nav"><ul class="wsite-menu-default">

    <span id="pg449845046999345006" class="wsite-nav-handle"><li style="position: relative;" class="wsite-menu-item-wrap w-menu-item   wsite-nav-1">
        <a style="position: relative;" href="#" class="wsite-menu-item">
            Home
        </a>
    </li></span>

    <span id="pg442288912794778523" class="wsite-nav-handle"><li style="position: relative;" class="wsite-menu-item-wrap w-menu-item   wsite-nav-2">
        <a style="position: relative;" href="#" class="wsite-menu-item">
            About
        </a>
    </li></span>

    <span id="pg284129743820819303" class="wsite-nav-handle"><li style="position: relative;" class="wsite-menu-item-wrap w-menu-item   wsite-nav-3">
        <a style="position: relative;" href="#" class="wsite-menu-item">
            Contact
        </a>
    </li></span>
    </ul></td>
                        <td class="search"><span style="display: none;" id="weebly-area-2" class="weebly-area wsite-search"><input class="wsite-search-input" autocomplete="off" placeholder="Search" type="text"><span class="wsite-search-button"><span class="wsite-search-button-inner"></span></span></span></td>
                    </tr>
                </tbody></table>

                    <!-- Weebly content end Navigation-->    
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div id="profilesec">
                <div id="profile_pic">
                    <img class="pic" src="/static/img/maxresdefault.jpg">
                    <div style="position: relative; float: left; height: 250px; width: 410px; background-color: white;" id="sta">
                      <label id="sta-label" class="label-css" for="sta-panel">Offence</label>
                        <div class="line-divider"></div>
                      <div id="sta-panel">
                          <div class="left-ref">
                              <div class="poiref"><p class="value-text">Status:</p></div>
                              <div class="poiref"><p class="value-text">Diary Entry #:</p></div>
                              <div class="poiref"><p class="value-text">Location of Offence:</p></div>
                              <div class="poiref"><p class="value-text">Sign. Landmark Nearby:</p></div>
                              <div class="poiref"><p class="value-text">Offence:</p></div>
                              <div class="poiref"><p class="value-text">Offence Code:</p></div>
                              <div class="poiref"><p class="value-text">Date And Time Reported:</p></div>
                              <div class="poiref"><p class="value-text">Weapon Used:</p></div>
                          </div>
                           <div class="right-ref">
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text" placeholder="N/A"/></div>
                          </div>
                        </div>
                     </div>
                </div>
                <div id="disbig">
                    <div id="profile_info">
                <div style="position: relative; float: left; height: 250px; width: 710px; background-color: white;" id="desc">
                      <label id="desc-label" class="label-css" for="desc-panel">Victim Info</label>
                        <div class="line-divider"></div>
                      <div id="desc-panel">
                          <div class="left-ref">
                              <div class="poiref"><p class="value-text">Name of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Address of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Age of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Height of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Ethnicity of Victim:</p></div>
                              
                          </div>
                           <div class="right-ref2">
                              <div class="poiref"><input class="value-text value-inputtext" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text value-inputtext" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text value-inputtext" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text value-inputtext" placeholder="N/A"/></div>
                              <div class="poiref"><input class="value-text value-inputtext" placeholder="N/A"/></div>
                              
                          </div>
                        </div>
                     </div>  
                <button type="submit" id="saveprofile" class="profilebutton">SAVE</button>
            </div>
                    

                </div>
                </div>
            </div>
        </div>
    <!--</div>-->
    
  
</body>
</html>