body{
    background-color:#192089;
}

.welcome
{
    position:relative;
    font-weight:bold;
    text-align:center;
    margin:0 auto;
    font-size: 3em;
    font-family: Oxygen;
    
}
#head
{
    height:300px;
    width:100%;
    margin:0 auto;
    background-color: red;
    background-image: url("img/maxresdefault.jpg");
}

#view-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 4;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.25);
    background: #FFF none repeat scroll 0% 0%;
}

#header-wrap{
    background: #3498DB none repeat scroll 0% 0%;
    width: 100%;
    font-family: "Oxygen",sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: #535353;
    font-weight: 300;
}

.wsite-theme-365164435420771451 #icontent {
    font-family: "Oxygen",sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: #535353;
    font-weight: 300;
    height: 100%;
}

#icontent_container{
    min-height: 371px;
}

.wsite-theme-365164435420771451 #header td {
    vertical-align: middle;
    text-align: left;
}
.wsite-theme-365164435420771451 #logo, .wsite-theme-365164435420771451 #logo a {
    color: #FFF;
    font-size: 34px;
    line-height: 40px;
    font-family: "Lustria",serif;
    text-decoration: none;
    margin-left: 27px;
}
.wsite-theme-365164435420771451 #logo, .wsite-theme-365164435420771451 .search {
    width: 250px;
}

#weebly-area-1 {
    display: inline-block;
}
.weebly-image-area, .weebly-logo-area {
    display: inline-block;
}

.wsite-theme-365164435420771451 .nav {
    clear: both;
    overflow: hidden;
    position: relative;
}

.wsite-theme-365164435420771451 .nav ul {
    list-style: outside none none;
    text-align: center;
}

.wsite-theme-365164435420771451 .nav ul li {
    list-style: outside none none;
    display: inline-block;
    margin-right: 45px;
    background: transparent none repeat scroll 0% 0%;
}

.wsite-theme-365164435420771451 .nav ul li a {
    display: inline-block;
    font-family: "Oxygen",sans-serif;
    color: #FFF;
    text-decoration: none;
    padding: 33px 0px;
    border: 0px none;
    outline: 0px none;
    list-style-type: none;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}